extends ./../include/main

block content
    h1 User
    table.ui.inverted.orange.table
        thead
            tr
                th Name
                th Age
        tbody
            each item, i in list
                tr
                    td!= item.name
                    td!= item.age